@charset "utf-8";

@import "../../lib/fragment/yo-list";
@import "../../lib/widget/yo-dialog";
@import "../../lib/element/yo-btn";
@import "../../lib/element/yo-input";

@include yo-dialog(
  $name:test,
  $height:1rem,
  $title-color:#0dc441
) {
  .bd{
    p{
      color:#ccc;
    }
  }
  .ft{
    button{
      color: #0dc441 !important;
    }
  }
};