@font-face {
  font-family: "yofont";
  src: url("/webappcourse/images/iconfont/iconfont.woff") format("woff"), url("/webappcourse/images/iconfont/iconfont.ttf") format("truetype");
}

@font-face {
  font-family: "yofont";
  src: url("/webappcourse/images/iconfont/iconfont-menu.woff") format("woff"), url("/webappcourse/images/iconfont/iconfont-menu.ttf") format("truetype");
}
.yo-ico{
	font-family:"yofont";
}